html, body {
    height: 100%;
}



body {
    min-height: 100%;
    background: linear-gradient(to bottom, #89f5ca, #89e1f5);
}



.header {
    background-color: rgb(0, 0, 0);
    padding: 20px;
}

.header h1 {
    color: rgb(11, 230, 160);
}

.header button {
    width: 20%;
    border-radius: 20px;
    color: rgb(11, 230, 160);
    display: block;
    background-color: black;
    font-weight: 600;
}

.note {
    width: 200px;
    height: 200px;
    background-color: #89f5ca;
    position: absolute;
    border: solid 5px black;
}


.editable {
    background-color: #ffffff;
    max-height: 150px;
    overflow-y: scroll;
}

.toolbar {
    text-align: left;
    background-color: #89f5ca;
}

.close {
    color: #000000;
    margin-right: 5px;
}